/* The Modal (background) */
#add-item-modal {
  position: fixed; /* Stay in place */
  left: 0;
  z-index: 1; /* Sit on top */
  display: none; /* Hidden by default */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

#add-item-modal {
  top: 0;
}

#add-item-modal-content {
  width: 90%;
  height: auto;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 2rem;
  overflow: auto;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 2rem;
  background-color: var(--primary-text-color);
  border: 1px solid var(--primary-light-color);
  border-radius: 20px;
}

@media (min-width: 800px) {
  #add-item-modal-content {
    width: 50%;
  }
}

/* The Close Button */
#close-item-modal {
  float: right;
  margin-top: -15px;
  margin-bottom: 20px;
  color: var(--primary-light-color);
  font-weight: bold;
  font-size: 28px;
}

#close-item-modal:hover,
#close-item-modal:focus {
  color: var(--primary-dark-color);
  text-decoration: none;
  cursor: pointer;
}

#item-modal-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  text-transform: uppercase;
}

#item-modal-title {
  width: 100%;
  font-size: 3rem;
  text-align: center;
}

#item-modal-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 90%;
  height: 100%;
  padding: 0 2rem;
  padding-bottom: 0.5rem;
  background-color: var(--primary-light-color);
  border-radius: 20px;
}

/* All Form Labels */
#item-modal-form > label:not(.first) {
  padding-top: 1.5rem;
}

#container-all-priorities {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 0.5rem;
  padding-bottom: 0rem;
  font-size: 1rem;
}

#item-name-input {
  width: 100%;
}

#item-date-input {
  align-self: center;
  text-align: center;
}

#item-description-input {
  width: 100%;
}

/* All Priority Labels */
#container-all-priorities > label {
  margin: 0.5rem;
  padding: 1rem;
  border: solid 2px var(--primary-dark-color);
  border-radius: 10px;
}

/* Hide radio input inside each label */
input[type="radio"] {
  display: none;
}

#label-low-priority {
  background-color: lawngreen;
}

#label-medium-priority {
  background-color: orangered;
}

#label-high-priority {
  background-color: red;
}

/* When one priority is checked */
input[type="radio"]:checked + label {
  color: var(--primary-text-color);
  border: solid 4px var(--primary-text-color) !important;
  opacity: 0.8 !important;
}

#add-item-button-container {
  align-self: flex-end;
}

#add-item-button {
  margin-top: 2rem;
  color: var(--primary-light-color);
  font-weight: bolder;
  text-transform: uppercase;
  background-color: var(--primary-text-color);
  border-radius: 3px;
}

#alert-message-item {
  position: absolute;
  bottom: 30%;
  width: 75%;
  padding: 2rem;
  color: var(--primary-text-color);
  text-align: center;
  background-color: var(--primary-dark-color);
  border: solid 2px var(--primary-light-color);
  border-radius: 15px;
}

#item-description-input::placeholder {
  padding: 5%;
  color: var(--primary-dark-color);
  font-style: italic;
  text-align: center;
  vertical-align: center;
}
