*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
  font-size: 62.5%;

  --primary-color: #80cbc4;
  --primary-light-color: #b2fef7;
  --primary-dark-color: #4f9a94;
  --secondary-color: #e1e2e1;
  --secondary-light-color: #f5f5f6;
  --secondary-dark-color: #707070;
  --primary-text-color: #212121;
  --secondary-text-color: #212121;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 360px;
  height: 100%;
  min-height: 640px;
  color: var(--primary-text-color);
  font-family: Ubuntu, Roboto, sans-serif;
}

::selection {
  color: var(--primary-text-color);
  background-color: var(--primary-dark-color);
}

/*** HEADER ***/
header {
  display: flex;
  width: 100%;

  height: 8%;
  min-height: 8%;
  font-weight: bolder;

  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
  vertical-align: center;
  background-color: var(--primary-dark-color);
}

#menu-wrapper {
  display: flex;
  justify-content: center;
  width: 25%;
  background-color: var(--primary-dark-color);
}

#menu-icon {
  width: 10rem;
  min-height: 4rem;
  cursor: pointer;
}

#search-box {
  width: 80%;
  height: 2%;
  margin-top: 0.5rem;
}

/*** FOOTER ***/

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 8%;
  color: var(--primary-light-color);
  font-weight: bolder;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 2px 1px var(--primary-text-color);
  vertical-align: center;
  background-color: var(--primary-dark-color);
}

@media (min-width: 800px) {
  footer {
    font-size: 4rem;
  }
}

#main {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 84%;
  background-color: var(--primary-dark-color);
}

/*** SEARCH BOX ***/

#search-box-wrapper {
  display: flex;
  justify-content: center;

  width: 75%;
}

#search-box {
  width: 70%;
  padding: 1.5rem;
  font-size: 1rem;
  background-color: var(--primary-light-color);
  border-radius: 10px;
}

@media (min-width: 800px) {
  #search-box {
    margin-top: 1rem;
    padding: 2rem;
    font-size: 1.8rem;
  }
}

#search-box::placeholder {
  color: var(--primary-text-color);
  font-size: 1.4rem;
  font-style: italic;
  text-align: center;
}

@media (min-width: 800px) {
  #search-box::placeholder {
    width: 50%;
    font-size: 2rem;
    border: none;
  }
}
