/*** ITEMS LIST ***/

#list-display {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 80%;
  height: 100%;
  margin-right: 1rem;
  margin-left: 1rem;
  overflow-y: auto;
  color: var(--primary-text-color);
  background-color: var(--primary-dark-color);
  border: var(--primary-text-color) solid 5px;
  border-radius: 10px;
}

/* SORT MENU */
#sort-and-add-buttons-container {
  display: flex;
  justify-content: space-between;
}

#sort-items-dropdown-menu {
  position: relative;
  right: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}

#sort-items-dropdown-content {
  position: absolute;
  top: 100%;
  right: 10%;
  z-index: 1;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  padding: 0.5rem;
  color: var(--primary-text-color);
  font-style: italic;
  text-align: center;
  background-color: var(--primary-light-color);
  border: solid 1px var(--primary-text-color);
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

#sort-items-project-icon {
  margin-top: 0.5rem;
  background-color: var(--primary-light-color);
  border-radius: 3px;
  cursor: pointer;
}

#sort-items-dropdown-content > div {
  width: 90%;
  padding: 0.5rem;
  font-size: 1.2rem;
  white-space: nowrap;
  border-bottom: solid 1px var(--primary-text-color);
  cursor: pointer;
}

@media (min-width: 800px) {
  #sort-items-dropdown-content > div {
    font-size: 2rem;
  }
}

#ascending-descending-sort-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
  margin-right: 3rem;
  padding-left: 0.5rem;
  background-color: var(--primary-light-color);
  border: solid 1px var(--primary-text-color);
  border-radius: 3px;
}

@media (min-width: 600px) {
  #ascending-descending-sort-container {
  }
}

#sort-kind-span {
  color: var(--primary-dark-color);
  font-weight: bolder;
  text-transform: uppercase;
}

#ascending-descending-icons {
  cursor: pointer;
}

#open-add-item-modal-button {
  align-self: flex-end;
  width: 10rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: bolder;
  font-size: 1rem;
  background-color: var(--primary-light-color);
  border: solid 3px var(--primary-text-color);
  border-radius: 10px;
}

/* ADD ITEM BUTTON */

@media (min-width: 800px) {
  #open-add-item-modal-button {
    font-size: 1.2rem;
  }
}

/* DISPLAYED LIST NAME */
#list-display-name {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  color: var(--primary-text-color);
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 2px 2px var(--primary-light-color);
  overflow-wrap: anywhere;
}

@media (min-width: 1100px) {
  #list-display-name {
    font-size: 5rem;
  }
}

/* ITEM DETAILS - <LI> */

#list-items {
  padding-right: 1rem;
  padding-left: 1rem;
}

#list-all-project-items {
  display: grid;
  grid-template-columns: 100%;
  padding: 0;
}

.item-details {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  width: 100%;
  margin-bottom: 0.1rem;
  padding: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
  background-color: var(--primary-light-color);
  border: var(--primary-text-color) solid 5px;
  border-radius: 5px;
  transition: 0.2s;
}

@media (min-width: 800px) {
  .item-details {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 0.1rem;
    padding: 1rem;
    overflow: auto;
    font-weight: bold;
    font-size: 2rem;
    background-color: var(--primary-light-color);
    border: var(--primary-text-color) solid 5px;
    border-radius: 5px;
    transition: 0.2s;
  }
}

.item-details:hover {
  background-color: var(--primary-color);
}

.item-details-active {
  background-color: var(--primary-color);
}

/* ITEM NAME AND CHECKBOX */

.item-name-and-checkbox {
  display: flex;
  grid-column: span 2;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  font-size: 1.8rem;
    cursor: default;
    cursor: default;
}

@media (min-width: 800px) {
  .item-name-and-checkbox {
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    font-size: 2rem;
  }
}
.completed-checkbox {
  display: none;
}

.item-name {
  word-break: break-word;
}

/* ITEM DUE DATE */
.item-due-date {
  height: 50%;
  padding-top: 0.5rem;
  border-top: solid var(--primary-text-color) 1px;
    cursor: default;
}

@media (min-width: 800px) {
  .item-due-date {
    width: 25%;
    border: none;
  }
}

/* ITEM ACTIONS */

.item-actions {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 50%;
  padding-top: 0.5rem;
  border-top: solid var(--primary-text-color) 1px;
}

@media (min-width: 800px) {
  .item-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20%;
    border: none;
  }
}

.item-description {
  width: 25%;
}

@media (min-width: 600px) {
  .item-description {
    width: 15%;
  }
}

@media (min-width: 800px) {
  .item-description {
    width: auto;
  }
}

.item-description-icon {
  height: 2rem;
  cursor: pointer;
}

.item-bookmark {
  width: 25%;
}

@media (min-width: 600px) {
  .item-bookmark {
    width: 15%;
  }
}

@media (min-width: 800px) {
  .item-bookmark {
    width: auto;
  }
}

.item-bookmark-icon {
  height: 2rem;
  cursor: pointer;
}

.item-modify {
  width: 25%;
}

@media (min-width: 600px) {
  .item-modify {
    width: 15%;
  }
}

@media (min-width: 800px) {
  .item-modify {
    width: auto;
  }
}

.item-modify-icon {
  height: 2rem;
  cursor: pointer;
}

.item-delete {
  width: 25%;
}

@media (min-width: 600px) {
  .item-delete {
    width: 15%;
  }
}

@media (min-width: 800px) {
  .item-delete {
    width: auto;
  }
}

.item-delete-icon {
  height: 2rem;
  cursor: pointer;
}

.unchecked-priority-icon {
  height: 2rem;
  margin-right: 1.8rem;
  cursor: pointer;
}

/* ITEM DESCRIPTION */

.item-details-description-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.item-details-description {
  position: absolute;
  top: 0.5rem;
  z-index: 1;
  width: 80%;
  max-width: 100%;
  padding: 1rem;
  color: var(--primary-light-color);
  font-weight: normal;
  font-size: 2rem;
  text-align: center;
  overflow-wrap: anywhere;
  background-color: var(--primary-text-color);
  border: var(--primary-light-color) solid 3px;
  border-radius: 5px;
}
