/*** SIDE MENU ***/

#side-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    margin-left: 1rem;
    width: 20%;
    height: 100%;

    transition: 0.5s;
}

#add-project-modal-icon {
    width: 50%;
}

#all-items-and-bookmarked-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    height: 20vh;
    width: 100%;
    margin: 0;
    padding: 0;
    border: var(--primary-text-color) solid 5px;
    border-bottom: 2px solid var(--primary-text-color);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    background-color: var(--primary-light-color);

    font-size: 2rem;
    font-weight: bolder;

    overflow: hidden;
    list-style: none;
}

.all-items-and-bookmarked {
    display: flex;
    align-items: center;

    width: 100%;

    transition: 1s;
}

.all-items-and-bookmarked:hover {
    background-color: var(--primary-color);
}

.all-items-and-bookmarked-active {
    display: flex;
    align-items: center;

    width: 100%;

    background-color: var(--primary-color);
}

#projects-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    height: 80%;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-left: var(--primary-text-color) solid 5px;
    border-right: var(--primary-text-color) solid 5px;

    background-color: var(--primary-light-color);

    font-size: 2rem;
    font-weight: bolder;

    overflow-x: hidden;
    overflow-y: auto;
    list-style: none;
}

project-name-and-icons {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    width: 100%;
}

#all-items-icon,
#all-bookmarked-items-icon,
.projects-icon {
    width: 100%;

    cursor: pointer;
}

#all-bookmarked-items-icon,
#all-items-icon {
    height: 3rem;
}

.projects-list-project-name {
    display: flex;
    justify-content: center;
    align-content: center;

    width: 100%;
    margin: 1rem;

    text-align: center;
    overflow-wrap: break-word;

    transition: 1s;
}

.projects-list-project-name:hover {
    background-color: var(--primary-color);
}

.projects-list-project-name-active {
    display: flex;
    justify-content: center;
    align-content: center;

    width: 100%;
    margin: 1rem;

    text-align: center;
    overflow-wrap: break-word;

    transition: 1s;
    background-color: var(--primary-color);
}

.project-name-and-icons {
    align-self: center;
}

.project-name-span {
    display: none;

    align-self: center;
    width: 80%;

    max-width: 80%;
    max-height: 100%;

    overflow: hidden;
    cursor: pointer;
    overflow-wrap: normal;
}

@media (min-width: 800px) {
    .project-name-span {
        display: block;
    }
}

.items-list-icon {
    background-color: red;
}

.delete-project-icon {
    align-self: center;

    margin-bottom: 0.45rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.projects-list-hr {
    border: 0.1rem solid var(--primary-dark-color);
    width: 50%;
}

#add-project-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 15vh;
    border: var(--primary-text-color) solid 5px;

    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    background-color: var(--primary-text-color);

    color: var(--primary-light-color);

    cursor: pointer;
    transition: 2.5s;
}

#add-project-container:hover {
    background-color: var(--primary-dark-color);
    border: var(--primary-text-color) solid 5px;
    color: var(--primary-text-color) !important;
}

#add-project-modal-icon {
    width: 100%;
    height: 50%;
}

#add-project-name {
    width: 100%;

    font-size: 1rem;
    font-weight: bolder;
    text-align: center;
}

@media (min-width: 800px) {
    #add-project-name {
        font-size: 2rem;
    }
}
